@charset "UTF-8";

@font-face {
	font-family: 'myClarendon';
	src: url('/fonts/clarebtrom.eot');
	src: url('/fonts/clarebtrom.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/clarebtrom.woff') format('woff'),
	     url('/fonts/clarebtrom.ttf')  format('truetype'),
	     url('/fonts/clarebtrom.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myClarendon';
	src: url('/fonts/clarebol.eot');
	src: url('/fonts/clarebol.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/clarebol.woff') format('woff'),
	     url('/fonts/clarebol.ttf')  format('truetype'),
	     url('/fonts/clarebol.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro.eot');
	src: url('/fonts/acaslonpro.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro.woff') format('woff'),
	     url('/fonts/acaslonpro.ttf')  format('truetype'),
	     url('/fonts/acaslonpro.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-italic.eot');
	src: url('/fonts/acaslonpro-italic.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-italic.woff') format('woff'),
	     url('/fonts/acaslonpro-italic.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-italic.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: italic;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-bold.eot');
	src: url('/fonts/acaslonpro-bold.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-bold.woff') format('woff'),
	     url('/fonts/acaslonpro-bold.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-bold.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-bolditalic.eot');
	src: url('/fonts/acaslonpro-bolditalic.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-bolditalic.woff') format('woff'),
	     url('/fonts/acaslonpro-bolditalic.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-bolditalic.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: italic;}

body {font-family: myCaslon, "Caslon", "Adobe Caslon", "Times New Roman", "Garamond", georgia, serif; 
	background-color: #333;
	color: #000;}
	
div ul li {padding-bottom: 15px;}	
	
a {color: #000;}
	
a:hover {color: #9494ff;}

img {border: none;}

ul {margin: 0 0 0 7px;
	padding: 0;
	line-height: 1.3;}

h2 {text-align: left;
	background-color: #66c;
	color: #ff0;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 13px;
	padding-top: 6px;
	padding-bottom: 12px;
	padding-left: 10px;}

#container {padding: 3px 8px 8px 3px;}

#header {width: 100%;
	height: 109px;
	border: 0;
	clear: left;
	border-bottom: 1px solid #9f2214;
	background-color: #fffac0;
	margin-bottom: 15px;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=50);
	/* Netscape */
	-moz-opacity: 0.5;
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	/* Good browsers */
	opacity: 0.6;}

	#header a {color: #fff;
		font-weight: normal;}	

	#frameimage {float: left;
		padding-left: 7px;
		padding-top: 35px;}
	
		#frameimage img {}

	#frametitle {float: left;
		width: 485px;
		padding-left: 16px;		
		padding-top: 26px;
		font-size: 52px; 
		font-family: myClarendon, "Clarendon", "Rockwell", georgia, serif;}

		#frametitle a {color: #9f2214;
			font-weight: normal; 
			text-decoration: none; }

		#frametitle a:hover {text-decoration: underline;}

	#frametree {float: left;
		background-color: #fff8a8;		
		color: #9f2214;
		padding: 10px;
		margin-top: 39px;
		margin-left: 49px;
		font-weight: bold;		
        color: #9f2214;
        font-family: arial, "Helvetica", sans-serif;
        font-size: 10px;}

        #frametree a {font-weight: bold;		
        	color: #9f2214;
        	font-family: arial, "Helvetica", sans-serif;
        	font-size: 10px;}
											
#footer {clear: left;
	width: 100%;
	height: 60px;
	color: #000;
	font-size: 16px;
	line-height: 1.25;
	margin-top: 50px;
	padding-top: 12px;
	border-top: 1px solid #9f2214;
	font-family: "Times Roman", "Times", "Times New Roman", serif;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=50);
	/* Netscape */
	-moz-opacity: 0.5;
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	/* Good browsers */
	opacity: 0.6;}

	#footer span {}
	
	#footer a {font-size: 12px;}

	#footer img {padding-bottom: 12px;}
		
.h3class {font-weight: normal; 
	font-size: 15px; 
	font-family: "Times Roman", "Times", "Times New Roman", serif;}

.h4class {font-weight: normal; 
	font-size: 12px; 
	font-family: myClarendon, "Clarendon", "Rockwell", georgia, serif;}
	
.h1classpadding {font-size: 56px; 
	font-family: "Times Roman", "Times", "Times New Roman", serif; 
  	font-weight: normal; 
  	line-height: 56px; 
  	padding-top: 20px;}	

.h5class {font-weight: normal;
	font-family: arial, sans-serif;
	font-size: 10px;}  	
	
#buttons2 {clear: left;
	width: 85%;
	min-height: 318px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	padding-top: 10px;
	background-color: #ddd;
	text-align: center;
	border: 3px solid #66c;}

	#buttons2 p {line-height: 1.3;
		font-weight: normal;
		text-align: left;}
	
	#buttons2 ul {text-align: center;}
	
	#buttons2 ul li {display: inline-block;
		position: relative;
		vertical-align: top;
		width: 12%;
		height: 80px;
		padding: 20px;
		margin: 10px 15px;
		text-align: center;
		background-color: #396;
		font-size: 14px;
	border: 6px solid #699;}

	#buttons2 ol li {font-style: italic;}
	
#group8 {width: 225px;
    height: auto; 
	margin: 3px 15px 15px 15px; 
	float: left;
	padding-left: 22px;}
	
	#group8 img {width: 225px;}
