@charset "UTF-8";

.sliderwrapper{
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
width: 461px; /*width of featured content slider*/
height: 400px;
left: 8px;
top: -77px;}

.sliderwrapper .contentdiv{
visibility: hidden; /*leave as is*/
position: absolute; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/
padding: 5px;
width: 451px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
height: 100%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;}

.sliderwrapper .contentdiv img {height: 300px;
		width: auto;
		border: 3px double #000;}

#slider1 p {font-style: italic;
			font-weight: bold;
			font-size: 16px;
			text-align: center;
			padding: 0 2px;}

#paginate-slider1 {float: left;
		width: 320px;
		height: 322px;
        text-align: left;
		border: 3px double #000;
		font-size: 14px;
		margin-left: 10px;
		cursor:hand;}
	
	#paginate-slider1 ul {margin: 14px 10px 0 52px;
		padding: 0;
		line-height: 1.3;}
				
	#paginate-slider1 ul li {margin: 0;
		padding: 0;}		
		
	#paginate-slider1 ul li a {text-decoration: none;
		padding-left: 3px;}

	#paginate-slider1 ul li a span {padding-right: 3px;
		padding-left: 2px;}		

	#paginate-slider1 ul li img {font-size: 8px;}				

	#paginate-slider1 p {margin: 0;
		padding: 3px;}	
            
.pagination li a img { visibility: hidden; 
		padding-right: 6px;}

.pagination li a.selected img { visibility: visible; }

.pagination li a.selected span {
            	color: #fff;
            	background-color: #66CCDD;}

.pagination{}

.pagination a{}

.pagination a:hover, .pagination a.selected{}