@charset "UTF-8";

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro.eot');
	src: url('/fonts/acaslonpro.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro.woff') format('woff'),
	     url('/fonts/acaslonpro.ttf')  format('truetype'),
	     url('/fonts/acaslonpro.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-italic.eot');
	src: url('/fonts/acaslonpro-italic.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-italic.woff') format('woff'),
	     url('/fonts/acaslonpro-italic.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-italic.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: italic;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-bold.eot');
	src: url('/fonts/acaslonpro-bold.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-bold.woff') format('woff'),
	     url('/fonts/acaslonpro-bold.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-bold.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}

@font-face {
	font-family: 'myClarendon';
	src: url('/fonts/clarebtrom.eot');
	src: url('/fonts/clarebtrom.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/clarebtrom.woff') format('woff'),
	     url('/fonts/clarebtrom.ttf')  format('truetype'),
	     url('/fonts/clarebtrom.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myClarendon';
	src: url('/fonts/clarebol.eot');
	src: url('/fonts/clarebol.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/clarebol.woff') format('woff'),
	     url('/fonts/clarebol.ttf')  format('truetype'),
	     url('/fonts/clarebol.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}

body {width: 1249px; font-family: "Times New Roman", "Garamond", "Caslon", "Adobe Caslon", georgia, serif;
	background-color: #e4ca96;}
	
div ul li {padding-bottom: 15px;}	
	
a:hover {color: #9494ff;}

img {border: none;}

ul {margin: 0 0 0 7px;
	padding: 0;
	line-height: 1.3;}

#container {padding: 3px 8px 8px 3px;}

#header {width: 100%;
		height: 109px;
		border: 0;
		clear: left;
		border-bottom: 1px solid #9f2214;
		background-color: #fffac0;}

	#header a {color: #fff;
	font-weight: normal;}	

	#frametree {float: left;
		background-color: #fff8a8;		
		color: #9f2214;
		padding: 10px;
		margin-top: 39px;
		margin-left: 49px;
		font-weight: bold;		
        	font-family: arial, "Helvetica", sans-serif;
        	font-size: 10px;}

        #frametree a {font-weight: bold;		
        	color: #9f2214;
        	font-family: arial, "Helvetica", sans-serif;
        	font-size: 10px;}
		
	#frametitle {float: left;
		width: 485px;
		padding-left: 16px;		
		padding-top: 22px;
		font-size: 56px; 
		font-family: myClarendon, "Clarendon", "Rockwell", georgia, serif;}

		#frametitle a {color: #9f2214;
			font-weight: normal; 
			text-decoration: none; }

		#frametitle a:hover {text-decoration: underline;}
		
	#frameimage {float: left;
		padding-left: 7px;
		padding-top: 35px;}
	
		#frameimage img {border: none;}
							
#footer {clear: left;
	width: 100%;
	height: 60px;
	line-height: 1.25;
	padding-top: 12px;
	margin-top: 128px;
	border-top: 1px solid #9f2214;
	font-family: "Times New Roman", "Times", "Garamond", serif;	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=50);
	/* Netscape */
	-moz-opacity: 0.5;
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	/* Good browsers */
	opacity: 0.6;}

	#footer span {font-size: 16px;}
	
	#footer a {font-size: 12px;
		font-weight: bold;}

	#footer img {padding-bottom: 12px;}		
			
.h3class {font-weight: normal; 
	font-size: 15px; 
	font-family: "Times New Roman", "Garamond", "Caslon", "Adobe Caslon", georgia, serif;}

.h4class {font-weight: normal; 
	font-size: 12px; 
	font-family: myClarendon, "Clarendon", "Rockwell", georgia, serif;
	color: #9f2214;}
	
.h1classpadding {font-size: 56px; 
	font-family: "Times New Roman", "Garamond", "Caslon", "Adobe Caslon", georgia, serif; 
  	font-weight: normal; 
  	line-height: 56px; 
  	padding-top: 20px;}	
	
#buttons2 {float: left;
	width: 670px;
	height: 440px;
	overflow-x: auto;
	padding-left: 16px;
	margin-left: 50px;
	padding-top: 70px;}

	#buttons2 div {display: inline-block;
	position: relative; 
	bottom: -17px;
	width: 100px;
	margin: 3px;
	color: #fff;
	text-align: center;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; /* future proofing */
	-khtml-border-radius: 6px; /* for old Konqueror browsers */
	box-shadow: 0 0 10px #888;}

	#buttons2 p {white-space: normal;
	display: table-cell;
    vertical-align: middle;}
	
	#buttons2 ul {white-space: nowrap;}
	
	#buttons2 ul li {display: inline;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 20px;
	cursor: pointer;}
	
	#buttons2 ul li a {color: #000;
	text-decoration: none;}

	#buttons2 div:hover {border: 1px solid #9f2214;			
	box-shadow: 0px 0px 9px #888 inset;}

	#buttons2 ul li img {height: 50px;
	position: absolute;
	top: 15px;
	left: 25px;}
	
#group8 {width: 920px;
    height: 12px; 
	margin: 0 15px 15px 0; 
	clear: left;
	padding-left: 30px;
	position: relative;
	top: -20px;}
	
	#group8 img {width: 920px;
		height: 12px;}

#group9 {width: 810px;
	height: 15px;
	z-index: -1; 
	top: 0; 
	margin: 0 0 15px 0; 
	padding: 0;}
	
	#group9 img {width: 790px;
		height: 15px;}

#booksummaries {float: left;
	position: relative;
	left: 87px;
	top: -7px;
	width: 395px;
	height: 446px;
	min-height: 446px;
	background-color: #fff;
	color: #000;
	padding: 0;
	text-align: center;
	overflow: visible;
	font-family: myCaslon, "Caslon", "Adobe Caslon", "Times New Roman", "Garamond", georgia, serif;
	font-size: 16px;
/*	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
/*	-khtml-border-radius: 4px; /* for old Konqueror browsers */}

	#booksummaries p {padding: 0;
		text-align: left;
		font-size: 15px;
		line-height: 1.4;}

/*	#booksummaries a {color: #000;
		font-weight: bold;}	*/

	#booksummaries h2 {padding: 0;
		margin: 0;
		font-variant: small-caps;}

	#booksummaries h3 {padding: 0;
		margin: 0;}	

	#booksummaries div {visibility: hidden;
	position: absolute;
	padding: 20px;
	width: 360px;
	height: 460px;
	background-color: #fff;
	box-shadow: 0 0 10px #888;
	margin-bottom: 30px;
	overflow-y: scroll;
/*	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
/*	-khtml-border-radius: 4px; /* for old Konqueror browsers */}

	#booksummaries ::-webkit-scrollbar-track { 
    border-radius: 2px;
	background-image: none;}


#one {background-color: #fef37f; 
	height: 335px;
	border: 1px solid #aaa;}
#two {background-color: #5C8A8A; 
	height: 395px;
	border: 1px solid #aaa;}
#three {background-color: #fef37f; 
	height: 335px;
	border: 1px solid #aaa;}
#four {background-color: #fff8a8; 
	height: 335px;
	border: 1px solid #aaa;}
#five {background-image: url('/img/carpetbookcover2.jpg'); 
	height: 395px;
	border: 1px solid #aaa;}
#six {background-color: #fef37f; 
	height: 335px;
	border: 1px solid #aaa;}
#seven {background-color: #fff8a8; 
	height: 335px;
	border: 1px solid #aaa;}
#eight {background-color: #7f7f7f; 
	height: 380px;
	border: 1px solid #aaa;}
#nine {background-color: #fff8a8; 
	height: 335px;
	border: 1px solid #aaa;}
#ten {background-color: #fef37f; 
	height: 395px;
	border: 1px solid #aaa;}
#eleven {background-color: #fef37f; 
	height: 335px;
	border: 1px solid #aaa;}
#twelve {background-color: #fff8a8; 
	height: 395px;
	border: 1px solid #aaa;}
#thirteen {background-color: #fff8a8; 
	height: 395px;
	border: 1px solid #aaa;}
#fourteen {background-color: #fff8a8; 
	height: 335px;
	border: 1px solid #aaa;}			

.author {display: block; font-style: italic;
	padding: 5px;}		
.colophon {text-align: center;
	font-size: 80%;}

::-webkit-scrollbar {width: 12px;}
 
::-webkit-scrollbar-track { 
    border-radius: 2px;
	background-image: url('/img/shelf.jpg');}
 
::-webkit-scrollbar-thumb {border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}

h1 {font: 16px Georgia, Serif;
    color: #000;
    padding: .7em;
    margin: 0;
    line-height: 1;
    position: absolute;
    bottom: 16px;
    left: 10px;
    -webkit-transform: rotate(-90deg) translateX(10px); 
    -moz-transform:    rotate(-90deg) translateX(10px);
    -ms-transform:     rotate(-90deg) translateX(10px);
    -o-transform:      rotate(-90deg) translateX(10px); 
    transform:         rotate(-90deg) translateX(10px); 
    -webkit-transform-origin: 1.8em .5em;
    -moz-transform-origin:    1.8em .5em;
    -ms-transform-origin:     1.8em .5em;
    -o-transform-origin:      1.8em .5em;
    transform-origin:         1.8em .5em;}
