@charset "UTF-8";

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro.eot');
	src: url('/fonts/acaslonpro.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro.woff') format('woff'),
	     url('/fonts/acaslonpro.ttf')  format('truetype'),
	     url('/fonts/acaslonpro.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-italic.eot');
	src: url('/fonts/acaslonpro-italic.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-italic.woff') format('woff'),
	     url('/fonts/acaslonpro-italic.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-italic.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: italic;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-bold.eot');
	src: url('/fonts/acaslonpro-bold.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-bold.woff') format('woff'),
	     url('/fonts/acaslonpro-bold.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-bold.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}
	
@font-face {
	font-family: 'myClarendon';
	src: url('/fonts/clarebtrom.eot');
	src: url('/fonts/clarebtrom.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/clarebtrom.woff') format('woff'),
	     url('/fonts/clarebtrom.ttf')  format('truetype'),
	     url('/fonts/clarebtrom.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myClarendon';
	src: url('/fonts/clarebol.eot');
	src: url('/fonts/clarebol.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/clarebol.woff') format('woff'),
	     url('/fonts/clarebol.ttf')  format('truetype'),
	     url('/fonts/clarebol.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}

body {width: 1249px; font-family: "Times New Roman", "Garamond", georgia, serif;
	background-color: #000;
	color: #000;}
	
div ul li {padding-bottom: 15px;}	
	
a {color: #000;
	font-weight: bold;
	text-decoration: underline;}
	
a:hover {color: #fff;}

img {border: none;}

ul {margin: 0 0 0 7px;
	padding: 0;
	line-height: 1.3;}

#container {padding: 3px 8px 8px 3px;}

#header {width: 100%;
	height: 109px;
	border: 0;
	clear: left;
	border-bottom: 1px solid #fff;
	background-color: #000;}

	#header a {color: #fff;
		font-weight: normal;}	

	#frameimage {float: left;
		padding-left: 7px;
		padding-top: 35px;}
	
		#frameimage img {}

	#frametitle {float: left;
		width: 765px;
		padding-top: 26px;
		font-size: 52px; 
		font-family: myClarendon, "Clarendon", serif;}

		#frametitle a {color: #fff;
			font-weight: normal; 
			text-decoration: none; }

		#frametitle a:hover {text-decoration: underline;}

	#frametree {float: left;
		background-color: #000;		
		color: #fff;
		padding: 10px;
		margin-top: 48px;
		margin-left: 49px;
		font-weight: bold;		
        color: #fff;
        font-family: arial, "Helvetica", sans-serif;
        font-size: 10px;}

        #frametree a {font-weight: bold;		
        	color: #fff;
        	font-family: arial, "Helvetica", sans-serif;
        	font-size: 10px;}
				
#largeimage {float: left;
	/* padding-top: 42px;*/ }

	#largeimage img {width: 620px;}

#buttons {float: left;
	height: 431px;
	width: 450px;
	margin: 43px 0 0 0;}
	
	#buttons ul {line-height: 1;
    	margin-left: 77px;
   		margin-top: 200px;
   		text-align: center;}
	
	#buttons ul li {padding: 0 0 7px 0;
		margin: 0;
		font-size: 20px;
		font-family: "Times New Roman", "Garamond", georgia, serif;
		text-align: left;
		list-style: disc;
		color: #fff;}
	
	#buttons ul li a {font-size: 20px;
		color: #fff;
		display: block;
		text-align: left;
		font-weight: normal;
		font-family: "Times New Roman", "Garamond", georgia, serif;
		text-decoration: none;}							

#footer {clear: left;
	width: 100%;
	height: 60px;
	line-height: 1.25;
	padding-top: 12px;
	border-top: 1px solid #fff;}

	#footer span {font-size: 16px;
		color: #fff;}
	
	#footer a {font-size: 12px;}

	#footer img {padding-bottom: 12px;}

.h3class {font-weight: normal; 
	font-size: 15px; 
	font-family: "Times New Roman", "Garamond", georgia, serif;}

.h4class {font-weight: normal; 
	font-size: 12px; 
	font-family: myClarendon, "Clarendon", "Rockwell", georgia, serif;}
	
.h5class {font-weight: normal;
	font-family: arial, "Helvetica", sans-serif;
	font-size: 10px;}
	
.h6class {font-weight: normal; 
	font-size: 18px; 
	font-family: myClarendon, "Clarendon", "Rockwell", georgia, serif;}
		 