@charset "UTF-8";

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro.eot');
	src: url('/fonts/acaslonpro.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro.woff') format('woff'),
	     url('/fonts/acaslonpro.ttf')  format('truetype'),
	     url('/fonts/acaslonpro.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-italic.eot');
	src: url('/fonts/acaslonpro-italic.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-italic.woff') format('woff'),
	     url('/fonts/acaslonpro-italic.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-italic.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: italic;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-bold.eot');
	src: url('/fonts/acaslonpro-bold.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-bold.woff') format('woff'),
	     url('/fonts/acaslonpro-bold.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-bold.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}		

body {font-family: myCaslon, "Caslon", "Adobe Caslon", "Times New Roman", "Garamond", georgia, serif;
	background-color: #fffac0;
	color: #fff;}
	
div ul li {padding-bottom: 15px;}	
	
a {color: #fff;
	font-weight: bold;}
	
a:hover {color: #ffff99;}

img {border: none;}

ul {margin: 0 0 0 7px;
	padding: 0;
	line-height: 1.3;}

#header {width: 950px;
		height: 58px;
		border: 0;
		float: left;
		padding-bottom: 25px;}
		
	#frametree {float: left;
		width: 201px;
		background-color: #222;
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
		margin-left: 49px;
		margin-top: 20px;}
		
	#frametitle {float: left;
		width: 585px;
		line-height: 1.15;}
		
	#frameimage {float: left;}
	
	#frameimage img {padding-top: 12px;}
	
#maincontent { /* height: 550px; */
		height: auto;
		width: 1260px;
		clear: left;
		margin: 0;
		padding: 12px 0 0 0; 
		background-color: #fffac0;}
  							
#footer {position: absolute;
		top: 558px;
		padding-top: 35px;
		line-height: 1.25;
		padding-left: 7px;}
		
.h1class {font-size: 56px; 
	font-family: "Times Roman", "Times", "Times New Roman"; 
  	font-weight: normal; 
  	line-height: 56px; }

.h5class {font-weight: normal;
	font-family: arial, sans-serif;
	font-size: 10px;}
	
.h1classpadding {font-size: 56px; 
	font-family: "Times Roman", "Times", "Times New Roman"; 
  	font-weight: normal; 
  	line-height: 56px; 
  	padding-top: 20px;}	

.h3class {FONT-WEIGHT: normal; 
	FONT-SIZE: 15px; 
	FONT-FAMILY: "Times Roman", "Times", "Times New Roman";
	padding: none;}

.h4class {FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	FONT-FAMILY: "Clarendon";
	display: block;}  	

/*::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} 	*/

#container {background: url(/img/dropshadow.png) no-repeat top left;
		padding: 6px 6px 5px 5px;
		margin-left: 12px;
		float: left;
		height: 626px;
		width: 870px;}

#paper {width: 710px;
		/* height: 528px; */
		height: 508px;
		background-color: #fff; 
		overflow-y: scroll; 
		text-align: center; 
		margin-left: auto; 
		margin-right: auto;
		padding: 75px 80px 40px 80px;
		color: #000;}	
	
	#paper a {color:#000;
		text-decoration: underline;}			
	
	#paper p {clear: left;
		padding: 0 0 10px 0;
		margin: 0 25px 0 25px;
		line-height: 1.4;
		text-align: left;}

	#paper ul {clear: left;
		padding: 0 0 10px 0;
		margin: 0 25px 0 50px;
		line-height: 1.4;
		text-align: left;}

	#paper ul li {}	

	#paper img {margin: 15px;
		max-width: 600px;
		max-height: 380px;
		border: 1px solid #000;}

#bullets {float: left;
		height: 615px;
		width: 280px;
		margin-right: 20px;
		margin-top: 5px;
		overflow-y: scroll;
		color: #000;
		padding-top: 10px;
		padding-left: 16px;
		text-transform: uppercase;}

	#bullets ul li {/*display: inline;*/
		list-style: none;}

	#bullets ul li a {color: #000;
		font-size: 12px;
		text-decoration: none;}		

.main-title {text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	text-align: center;}		

