@charset "UTF-8";

@font-face {
	font-family: 'myClarendon';
	src: url('/fonts/clarebtrom.eot');
	src: url('/fonts/clarebtrom.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/clarebtrom.woff') format('woff'),
	     url('/fonts/clarebtrom.ttf')  format('truetype'),
	     url('/fonts/clarebtrom.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myClarendon';
	src: url('/fonts/clarebol.eot');
	src: url('/fonts/clarebol.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/clarebol.woff') format('woff'),
	     url('/fonts/clarebol.ttf')  format('truetype'),
	     url('/fonts/clarebol.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}	

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro.eot');
	src: url('/fonts/acaslonpro.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro.woff') format('woff'),
	     url('/fonts/acaslonpro.ttf')  format('truetype'),
	     url('/fonts/acaslonpro.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-italic.eot');
	src: url('/fonts/acaslonpro-italic.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-italic.woff') format('woff'),
	     url('/fonts/acaslonpro-italic.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-italic.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: italic;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-bold.eot');
	src: url('/fonts/acaslonpro-bold.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-bold.woff') format('woff'),
	     url('/fonts/acaslonpro-bold.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-bold.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}     

body {font-family: myCaslon, "Caslon", "Adobe Caslon", "Times New Roman", georgia, serif;
	background-color: #fffac0;
	color: #000;
	/* background-image: url('/img/worldatnight.jpg');*/
	width: 1249px;}
	
div ul li {padding-bottom: 15px;}	
	
a {color: #000;
	font-weight: bold;}
	
a:hover {color: #9f2214;}

img {border: 1px solid #9f2214;}

ul {margin: 0 0 0 7px;
	padding: 0;
	line-height: 1.3;}

h1 {font-family: myClarendon, "Clarendon", "Rockwell", georgia, serif;
	font-size: 26px;
	margin: 0;
	padding-bottom: 9px;
	color: #9f2214;}

h2 {text-decoration: underline;
	font-size: 20px;}		

#container {padding: 3px 8px 8px 3px;}
		
#header {width: 100%;
	height: 109px;
	border: 0;
	clear: left;
	border-bottom: 1px solid #9f2214;
	background-color: #fffac0;}

	#header a {color: #fff;
		font-weight: normal;}	

	#frameimage {float: left;
		padding-left: 7px;
		padding-top: 35px;}
	
		#frameimage img {border: none;}

	#frametitle {float: left;
		width: 485px;
		padding-left: 16px;		
		padding-top: 25px;
		font-size: 52px; 
		font-family: myClarendon, "Clarendon", "Rockwell", georgia, serif;}

		#frametitle a {color: #9f2214;
			font-weight: normal; 
			text-decoration: none; }

		#frametitle a:hover {text-decoration: underline;}

	#frametree {float: left;
		background-color: #fff8a8;		
		color: #9f2214;
		padding: 10px;
		margin-top: 48px;
		margin-left: 49px;
		font-weight: bold;		
        color: #9f2214;
        font-family: arial, "Helvetica", sans-serif;
        font-size: 10px;}

        #frametree a {font-weight: bold;		
        	color: #9f2214;
        	font-family: arial, "Helvetica", sans-serif;
        	font-size: 10px;}	
		
#header1 {width: 950px;
		height: 128px;
		border: 0;
		float: left;
		padding-bottom: 25px;}
		
	#frametree1 {float: left;
		width: 201px;
		background-color: #222;
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
		margin-top: 39px;
		margin-left: 49px;}
		
	#frametitle1 {float: left;
		width: 585px;
		line-height: 1.15;}
		
	#frameimage1 {float: left;}
	
	#frameimage1 img {padding-top: 12px;}		
		
#maincontent {clear: left;
		margin: 0;
		padding: 0}
		
  #maincontent img {width: 265px;
			height: 380px;
			float: left;
			margin-top: 28px;}

	#mainmenusequences {float: left;
				width: 228px;
				margin-top: 179px;}
				
	#mainmenusequences ul {list-style-type: disc;
				padding-left: 25px;
				line-height: 1.1;}
				
	#mainmenusequences ul li {text-align: right;}
				
	#mainmenusequences ul li a {font-weight: lighter;
				font-size: 21px;}
							
#footer {font-family: "Times New Roman", "Garamond", "Caslon", "Adobe Caslon", georgia, serif; 
		position: absolute;
		top: 570px;
		width: 750px;
		height: 60px;
		padding-top: 35px;
		line-height: 1.25;}

	#footer span {font-size: 16px;}
	
	#footer a {font-size: 12px;}

	#footer img {padding-bottom: 12px;}


.h1class {font-size: 56px; 
	font-family: "Times New Roman", "Garamond", "Caslon", "Adobe Caslon", georgia, serif; 
  	font-weight: normal; 
  	line-height: 56px; }

.h5class {font-weight: normal;
	font-family: arial, sans-serif;
	font-size: 11px;}

.h1classpadding {font-size: 56px; 
	font-family: "Times New Roman", "Garamond", "Caslon", "Adobe Caslon", georgia, serif; 
  	font-weight: normal; 
  	line-height: 56px; 
  	padding-top: 20px;}	
  	
.h3class {font-weight: normal; 
	font-size: 16px; 
	font-family: "Times New Roman", "Garamond", "Caslon", "Adobe Caslon", georgia, serif;
	padding: 0;}

.h4class {font-weight: normal; 
	font-size: 12px; 
	font-family: myClarendon, "Clarendon", "Rockwell", georgia, serif;
	color: #9f2214;}  	

#tightspacing {line-height: 0.7;
			padding: 0;
			margin: 0;}	
					
#buttons {width: 200px; 
	margin: 30px 15px 15px 15px; 
	clear: left; 
	text-align: left; 
	text-decoration: underline;
	font-size: 19px;
	overflow: visible;}
	
#buttons {cursor: pointer;} 
	
	#buttons ul {line-height: 1.8;
		list-style: none;}
	
	#buttons ul li {padding: 0;}
	
#buttons1 {width: 200px; 
	clear: left;}
	
	#buttons1 a {text-align: left; 
	text-decoration: underline;
	font-size: 21px;
	font-weight: normal;
	line-height: 1.4;
	margin: 15px;
	display: block;}
		
#group0 div {width: 265px; 
	height: 380px; 
	margin: 15px; 
	/*border: solid 1px #ccc;*/ 
	position: absolute; 
	left: 240px; 
	top: 146px;} 
	
	#group0 img {width: 230px;}
	
#group0 div {visibility: hidden;} 	
	
#group1 div {width: 170px; 
	height: 380px; 
	margin: 0 15px 30px 15px; 
	/*border:solid 1px #666;*/ 
	position: absolute; 
	float: left; 
	left: 520px; 
	top: 155px;
	font-size: 16px;}	 	

#group1 div {visibility: hidden;}

#group4 div {width: 250px; 
	margin: 0 15px 30px 15px; 
	/*border: solid 1px #666;*/ 
	position: absolute; 
	float: left; 
	left: 512px; 
	top: 416px;
	font-size: 14px;
	overflow: hidden;}	 	

	#group4 div {visibility: hidden;}
	
	#group4 img {height: 150px;
		max-width: 99%;}

#group5 {}

#group5 div {width: 380px; 
	height: auto; 
	margin: 0 15px 30px 0; 
	/*border:solid 1px #444;*/
	padding-bottom: 18px; 
	position: absolute; 
	float: left; 
	left: 815px; 
	top: 147px;
	font-size: 16px;
	line-height: 1.2;}	 	

	#group5 div {visibility: hidden;}
	
	#group5 img {width: 230px;}
	
	#group5 ul {margin: 0;
		padding: 0 0 0 25px;
		font-weight: bold;}

	#group5 ol {margin: 0;
		padding: 0 0 0 25px;}

	#group5 ul li {margin: 0;
		padding: 0;}

	#group5 ul.boldened li {margin: 0;
		padding: 0;
		font-weight: bold;}	

	#group5 p {margin: 0;
		padding: 6px 0 0 0;}

	#group5 h2 {margin: 0;
		padding: 0;}

	#group5 a {margin: 0;
		padding: 0;}

#group2 img {width: 265px; 
	margin: 15px; 
	border: solid 1px #ccc; 
	position: absolute; 
	left: 210px; 
	top: 146px;} 
		
#group3 {width: 230px; 
	margin: 0 15px 30px 15px; 
	position: absolute; 
	float: left; 
	left: 500px; 
	top: 161px;
	background-color: #69c;
	font-size: 22px;}
	
	#group3 p {padding: 10px;
	margin: 0;
	font-weight: normal;}	 	

#group3 div {visibility: hidden;}	 

#one {visibility: visible;} 

#six1 ul li {padding-bottom: 7px;}


		
			