@charset "UTF-8";

body {font-family: "Times New Roman", serif;
	background-color: #003;
	color: #000;}

img {border: none;}

ul {margin: 0 0 0 7px;
	padding: 0;}
	
a {color: #000;}
	
a:hover {}	

#container {padding: 3px;
		clear: left;
		background-color: #eee;
		height: 543px;}
		
		#container ul {margin-left: 20px;}
		
		#container ul li {margin-left: 10px;}				
		
#header {width: 850px;
		height: 88px;
		border: 0;
		float: left;
		padding-bottom: 20px;
		color: #fff;}
		
		#header a {color: #fff;}
		
	#frametree {float: left;
		width: 228px;
		background-color: #222;
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
		margin-top: 39px;
		margin-left: 49px;}
		
	#frametitle {float: left;
		width: 485px;
		line-height: 1.15;}
		
	#frameimage {float: left;}
	
	#frameimage img {padding-top: 12px;}

.h5class {font-weight: normal;
	font-family: arial, sans-serif;
	font-size: 10px;}
	
.h1classpadding {font-size: 56px; 
	font-family: "Times Roman", "Times", "Times New Roman"; 
  	font-weight: normal; 
  	line-height: 56px; 
  	padding-top: 20px;}
 
#menu a {text-decoration: none;}				

#instructions {width: 326px;
	margin: 10px 0 0 10px;}

#instructions div p {margin: 0;
	padding: 3px;}

#instructionstitle {position: absolute;
	left: 360px;
	top: 134px;
	font-size: 16px;
	font-style: italic;
	text-align: center;
	border: 3px double #000;
	padding: 5px;
	width: 440px;}

#part1 {font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border: 3px double #000;
	padding: 5px;}

#part2 {font-style: italic;
	border: 3px double #000;
	background-color: #fff;
	font-size: 14px;}	

#part3 {font-style: italic;
	border: 3px double #000;
	background-color: #fff;
	font-size: 14px;}	

#buttons {width:300px; 
	clear: left; 
	text-align: left; 
	text-decoration: none;
	border: 3px double #000;
	font-size: 14px;
	padding-bottom: 30px;}
	
#buttons {cursor:pointer; 
	cursor:hand;} 
	
	#buttons ul {margin: 0;
		padding: 0 0 0 50px;
		list-style: diamond;}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#one , #two , #tre , #fou , #fiv , #six , #sev , #eig , 
#nin , #ten , #ele , #twe , #thi , #fon , #fin {}		
	