@charset "UTF-8";


body {font-family: "Times New Roman", serif;
	background-color: #003;
	color: #fff;}
	
div ul li {padding-bottom: 15px;}	
	
a {color: #fff;
	font-weight: bold;}
	
a:hover {color: #ffff99;}

img {border: none;}

ul {margin: 0 0 0 7px;
	padding: 0;
	line-height: 1.3;}

#container {padding: 3px 8px 8px 3px;}

#header {width: 850px;
		height: 128px;
		border: 0;
		float: left;
                padding-bottom: 25px;}
		
	#frametree {float: left;
		width: 201px;
		background-color: #222;
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
		margin-top: 39px;
		margin-left: 49px;}

                #frametree a {font-weight: normal;}
		
	#frametitle {float: left;
		width: 485px;
		line-height: 1.15;}
		
	#frameimage {float: left;}
	
	#frameimage img {padding-top: 12px;}
	
#maincontent {height: 510px;
		width: 1260px;
		clear: left;
		margin: 0;
		padding: 0;}
  
#maincontent img {width: auto;
			height: 230px;
			float: left;
			padding: 40px;}
	
#maincontent ul li p {width: 155px;
margin: 0 auto;
clear: left;
height: 40px;}
							
#footer {clear: left;
	width: 920px;
	height: 96px;
	line-height: 1.25;
		padding-top: 65px;
		line-height: 1.25;
		padding-left: 7px;}

.h1class {font-size: 56px; 
	font-family: "Times Roman", "Times", "Times New Roman"; 
  	font-weight: normal; 
  	line-height: 56px; }

.h5class {font-weight: normal;
	font-family: arial, sans-serif;
	font-size: 10px;}
	
.h1classpadding {font-size: 56px; 
	font-family: "Times Roman", "Times", "Times New Roman"; 
  	font-weight: normal; 
  	line-height: 56px; 
  	padding-top: 20px;}	

.h3class {FONT-WEIGHT: normal; 
	FONT-SIZE: 15px; 
	FONT-FAMILY: "Times Roman", "Times", "Times New Roman";
	padding: none;}

.h4class {FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	FONT-FAMILY: "Clarendon";
	display: block;}  	  	
