@charset "UTF-8";

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro.eot');
	src: url('/fonts/acaslonpro.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro.woff') format('woff'),
	     url('/fonts/acaslonpro.ttf')  format('truetype'),
	     url('/fonts/acaslonpro.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-italic.eot');
	src: url('/fonts/acaslonpro-italic.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-italic.woff') format('woff'),
	     url('/fonts/acaslonpro-italic.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-italic.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: italic;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-bold.eot');
	src: url('/fonts/acaslonpro-bold.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-bold.woff') format('woff'),
	     url('/fonts/acaslonpro-bold.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-bold.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}

@font-face {
	font-family: 'myClarendon';
	src: url('/fonts/clarebtrom.eot');
	src: url('/fonts/clarebtrom.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/clarebtrom.woff') format('woff'),
	     url('/fonts/clarebtrom.ttf')  format('truetype'),
	     url('/fonts/clarebtrom.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myClarendon';
	src: url('/fonts/clarebol.eot');
	src: url('/fonts/clarebol.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/clarebol.woff') format('woff'),
	     url('/fonts/clarebol.ttf')  format('truetype'),
	     url('/fonts/clarebol.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}

body {font-family: "Times New Roman", "Garamond", georgia, serif;
	background-color: #fffac0;
	color: #000;
        width: 1249px;}
	
div ul li {padding-bottom: 15px;}	

div ol li {padding-bottom: 15px;}	
	
a {color: #000;
	font-weight: bold;
	text-decoration: underline;}
	
a:hover {color: #9f2214;}

img {border: none;}

ul {margin: 0 0 0 7px;
	padding: 0;
	line-height: 1.3;}

ol {margin: 0 0 0 7px;
	padding: 0;
	line-height: 1.3;}	

#container {padding: 3px 8px 8px 3px;}

#header {width: 100%;
	height: 109px;
	border: 0;
	clear: left;
	border-bottom: 1px solid #9f2214;
	background-color: #fffac0;}

	#header a {color: #fff;
		font-weight: normal;}	

	#frameimage {float: left;
		padding-left: 7px;
		padding-top: 35px;}
	
		#frameimage img {}

	#frametitle {float: left;
		width: 485px;
		padding-left: 16px;		
		padding-top: 26px;
		font-size: 52px; 
		font-family: myClarendon, "Clarendon", serif;}

		#frametitle a {color: #9f2214;
			font-weight: normal; 
			text-decoration: none; }

		#frametitle a:hover {text-decoration: underline;}

	#frametree {float: left;
		background-color: #fff8a8;		
		color: #9f2214;
		padding: 10px;
		margin-top: 39px;
		margin-left: 49px;
		font-weight: bold;		
        color: #9f2214;
        font-family: arial, "Helvetica", sans-serif;
        font-size: 10px;}

        #frametree a {font-weight: bold;		
        	color: #9f2214;
        	font-family: arial, "Helvetica", sans-serif;
        	font-size: 10px;}
				
#largeimage, #townspic, #buildingspic, #constructionpic  {position: absolute;
			top: 118px;
			left: 8px;
	/* padding-top: 42px;*/ }

	#largeimage img, #townspic img, #buildingspic img, #constructionpic img {width: 350px;}

#branches {visibility: hidden;}

#branches div {position: absolute;
		width: 400px;
		height: 415px;
		left: 800px;
		top: 164px;}

	#branches a {font-weight: normal;
		text-decoration: none;}	

	#branches div ol {line-height: 1.0;
		list-style-position: inside;}
	
	#branches div ol li {padding-bottom: 9px;}

	#branches #lessspace li {padding-bottom: 6px;}

	#branches div p {font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	font-family: myCaslon, "Caslon", "Adobe Caslon", "Times New Roman", "Garamond", georgia, serif;}	

#pics div {visibility: hidden;}
	
	#pics div {width: 350px;
		height: 460px;}		

#buttons {float: left;
	height: 431px;
	width: 310px;
	margin: 43px 0 0 400px;}
	
	#buttons ul {}
	
	#buttons ul li {padding: 0 0 8px 0;
	margin: 0;}
	
	#buttons ul li a {font-weight: bold;
	font-size: 20px;
	font-family: myCaslon, "Caslon", "Adobe Caslon", "Times New Roman", "Garamond", georgia, serif;}							

#footer {clear: left;
	width: 100%;
	height: 60px;
	line-height: 1.25;
	padding-top: 12px;
	border-top: 1px solid #9f2214;}

	#footer span {font-size: 16px;}
	
	#footer a {font-size: 12px;}

	#footer img {padding-bottom: 12px;}

.h3class {font-weight: normal; 
	font-size: 15px; 
	font-family: "Times New Roman", "Garamond", georgia, serif;}

.h4class {font-weight: normal; 
	font-size: 12px; 
	font-family: myClarendon, "Clarendon", "Rockwell", georgia, serif;}
	
.h5class {font-weight: normal;
	font-family: arial, "Helvetica", sans-serif;
	font-size: 10px;}
	
.h6class {font-weight: normal; 
	font-size: 18px; 
	font-family: myClarendon, "Clarendon", "Rockwell", georgia, serif;}
		 