@charset "UTF-8";

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro.eot');
	src: url('/fonts/acaslonpro.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro.woff') format('woff'),
	     url('/fonts/acaslonpro.ttf')  format('truetype'),
	     url('/fonts/acaslonpro.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-italic.eot');
	src: url('/fonts/acaslonpro-italic.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-italic.woff') format('woff'),
	     url('/fonts/acaslonpro-italic.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-italic.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: italic;}

@font-face {
	font-family: 'myCaslon';
	src: url('/fonts/acaslonpro-bold.eot');
	src: url('/fonts/acaslonpro-bold.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/acaslonpro-bold.woff') format('woff'),
	     url('/fonts/acaslonpro-bold.ttf')  format('truetype'),
	     url('/fonts/acaslonpro-bold.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}

@font-face {
	font-family: 'myClarendon';
	src: url('/fonts/clarebtrom.eot');
	src: url('/fonts/clarebtrom.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/clarebtrom.woff') format('woff'),
	     url('/fonts/clarebtrom.ttf')  format('truetype'),
	     url('/fonts/clarebtrom.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'myClarendon';
	src: url('/fonts/clarebol.eot');
	src: url('/fonts/clarebol.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/clarebol.woff') format('woff'),
	     url('/fonts/clarebol.ttf')  format('truetype'),
	     url('/fonts/clarebol.svg#svgFontName') format('svg');
	font-weight: bold;
	font-style: normal;}

body {font-family: "Times New Roman", "Times", "Garamond", serif;
	background-color: #000;
	color: #fff;}
	
a {color: #fff;
	font-weight: bold;}
	
a:hover {color: #99f;}

img {border: none;}

ul {margin: 0;
	padding: 0;
	line-height: 1.3;}

#container {padding: 0 8px 0 0;}

#header {clear: left;
	width: 920px;
	height: 138px;}
		
	#frametitle {float: left;
		width: 555px;
		padding-top: 40px;
		line-height: 1.15;
		text-align: left;
		font-size: 56px; 
		font-family: "Times", "Times New Roman", "Garamond", serif; 
  		font-weight: normal;}
		
	#frameimage {float: left;
		margin-top: 52px;}
	
		#frameimage img {height: 38px;}

	#frametext {font-family: myClarendon, "Clarendon", serif;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 3px;
		text-align: right;
		font-size: 11px;
		padding-top: 26px;}

#maincontent {clear: left;
	width: 920px;
	margin: 0;
	padding: 0;}

#group1 {float: left;
	width: 265px;
	height: 380px;}

	#group1 img {width: 265px;
		height: 380px;
		padding-top: 3px;}
	
#buttons {float: left;
	width: 495px;
	height: 390px;
	margin-top: 11px;
	margin-left: 27px;}

	#buttons ul li {display: inline;}

	#buttons ul li ul {margin: 0;
		padding: 0 0 10px 0;
		line-height: 0.6;}

	#buttons ul li ul li {margin: 0;
		padding: 0;}

	#smallerlinks {font-size: 15px;}
		  		
	#smallerlinks li {padding-right: 13px;}

	#smallerlinks li a {font-weight: normal;}			

#group2 div {position: absolute;
	left: 615px;
	top: 169px;
	width: 270px; 
	height: 170px; 
	font-size: 13px;}

	#group2 div {visibility: hidden;}

	#group2 img {height: 170px;
		width: auto;
		margin-top: 0;}

	#group2 a {font-size: 15px;
		font-family: myClarendon, "Clarendon", serif;
		font-weight: normal;}	 

#footer {clear: left;
	width: 900px;
	height: 108px;
	line-height: 1.25;
	padding-top: 12px;}

	#footer span {font-size: 16px;}
	
	#footer a {font-size: 11px;}

	#footer img {padding-bottom: 12px;}	

.h4class {font-weight: normal; 
	font-size: 11px; 
	font-family: myClarendon, "Clarendon", serif;}